<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Debut Header -->
<th:block th:include="partials/_head/index :: head"></th:block>
<!-- Fin Header -->


<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Debut TopBar -->
		<th:block th:include="partials/_topbar/index :: topbar"></th:block>
		<!-- Fin TopBar -->

		<!-- Main Sidebar Container -->
		<!-- Debut Left Side Bar -->
		<th:block th:include="partials/_left_sidebar/index :: left-sidebar"></th:block>
		<!-- Fin Left Side Bar -->


		<div class="content" th:fragment="container">
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0 text-dark">Param&egrave;tre MySql</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Accueil</a></li>
									<li class="breadcrumb-item"><a href="#">Param&egrave;tres</a></li>
									<li class="breadcrumb-item active">MySql</li>
								</ol>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<section class="content">
					<div class="container-fluid">

						<!-- /.card -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">MySql</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div class="table-responsive">
									<table id="example1" class="table table-bordered table-striped">
										<thead>
											<tr class="text-nowrap">
												<th>Host</th>
												<th>Port</th>
												<th>Base de donn&eacute;es</th>
												<th>Username</th>
												<th>Mot de passe</th>
												<th>Driver</th>
												<th>Date modification</th>
												<th>Actions</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="e:${Mysql}">
												<td class="text-nowrap" th:text="${e.host}"></td>
												<td th:text="${e.port}"></td>
												<td class="text-nowrap" th:text="${e.dbname}"></td>
												<td th:text="${e.username}"></td>
												<td th:text="${e.password}"></td>
												<td th:text="${e.driver}"></td>
												<td th:text="${e.dateModification}"></td>
												<td class="text-nowrap"><a
													th:href="@{/parametre-mysql/formupdate(id=${e.id})}"
													class="btn btn-primary btn-sm"> <i class="fa fa-edit">
													</i> Modifier
												</a></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.container-fluid -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		</div>


		<!-- Footer Start -->
		<th:block th:include="partials/_footer/index :: footer"></th:block>
		<!-- Footer End -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<!-- Debut Foot -->
	<th:block th:include="partials/_foot/index :: foot"></th:block>
	<!-- Fin Foot -->
</body>
</html>
