<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Debut Header -->
<th:block th:include="partials/_head/index :: head"></th:block>
<!-- Fin Header -->


<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Debut TopBar -->
		<th:block th:include="partials/_topbar/index :: topbar"></th:block>
		<!-- Fin TopBar -->

		<!-- Main Sidebar Container -->
		<!-- Debut Left Side Bar -->
		<th:block th:include="partials/_left_sidebar/index :: left-sidebar"></th:block>
		<!-- Fin Left Side Bar -->


		<div class="content" th:fragment="container">
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0 text-dark">Tableau de bord</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Accueil</a></li>
									<li class="breadcrumb-item active">Tableau de bord</li>
								</ol>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->
			</div>
			<!-- /.content-wrapper -->
		</div>


		<!-- Footer Start -->
		<th:block th:include="partials/_footer/index :: footer"></th:block>
		<!-- Footer End -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<!-- Debut Foot -->
	<th:block th:include="partials/_foot/index :: foot"></th:block>
	<!-- Fin Foot -->
</body>
</html>
