<div th:fragment="right-sidebar">

	<!-- Right Sidebar Start -->
	<div class="right side-menu">
		<ul class="nav nav-tabs nav-justified" id="right-tabs">
			<li><a href="#connect" data-toggle="tab" title="Chat"><i
					class="icon-chat"></i></a></li>
		</ul>
		<div class="clearfix"></div>
		<div class="tab-content">


			<div class="tab-pane active" id="connect">
				<div class="tab-inner">
					<div class="search-right">
						<input type="text" class="form-control" placeholder="Rechercher">
					</div>
					<div class="panel-group" id="collapse">
						<div class="panel panel-default" id="chat-panel">
							<div class="panel-heading bg-darkblue-2">
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#chat-coll"> <i
										class="icon-briefcase-1"></i> Colleagues <span
										class="label bg-darkblue-1 pull-right">14</span>
									</a>
								</h4>
							</div>
							<div id="chat-coll" class="panel-collapse collapse in">
								<div class="panel-body">
									<ul class="list-unstyled" id="chat-list">
										<li><a href="javascript:;" class="online"><span
												class="chat-user-avatar"><img
													src="images/users/chat/1.jpg"></span> <span
												class="chat-user-name">Dorothy Simons</span><span
												class="chat-user-msg">I wish I was a bird in the sky</span></a></li>
										<li><a href="javascript:;" class="online"><span
												class="chat-user-avatar"><img
													src="images/users/chat/2.jpg"></span> <span
												class="chat-user-name">John Malkovich</span><span
												class="chat-user-msg">You were the traitor</span></a></li>
										<li><a href="javascript:;" class="online"><span
												class="chat-user-avatar"><img
													src="images/users/chat/3.jpg"></span> <span
												class="chat-user-name">Jessica Simons</span><span
												class="chat-user-msg">Where is my mind</span></a></li>
										<li><a href="javascript:;" class="away"><span
												class="chat-user-avatar"><img
													src="images/users/chat/4.jpg"></span> <span
												class="chat-user-name">Jack Stallman</span><span
												class="chat-user-msg">Away since 13:32</span></a></li>
										<li><a href="javascript:;" class="offline"><span
												class="chat-user-avatar"><img
													src="images/users/chat/5.jpg"></span> <span
												class="chat-user-name">Neil Armstrong</span><span
												class="chat-user-msg"
												title="I am flying to the moon and back">I am flying
													to the moon and back</span></a></li>
										<li><a href="javascript:;" class="offline"><span
												class="chat-user-avatar"><img
													src="images/users/chat/6.jpg"></span> <span
												class="chat-user-name">Hollywood Studios</span><span
												class="chat-user-msg">Yes he definitely is!</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default" id="chat-panel">
							<div class="panel-heading bg-darkblue-2">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#collapseTwo"> <i class="icon-heart-3"></i> Friends
										<span class="label bg-darkblue-1 pull-right">3</span>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse in">
								<div class="panel-body">
									<ul class="list-unstyled" id="chat-list">
										<li><a href="javascript:;" class="online"><span
												class="chat-user-avatar"><img
													src="images/users/chat/1.jpg"></span> <span
												class="chat-user-name">Dorothy Simons</span><span
												class="chat-user-msg">I wish I was a bird in the sky</span></a></li>
										<li><a href="javascript:;" class="online"><span
												class="chat-user-avatar"><img
													src="images/users/chat/2.jpg"></span> <span
												class="chat-user-name">John Malkovich</span><span
												class="chat-user-msg">You were the traitor</span></a></li>
										<li><a href="javascript:;" class="online"><span
												class="chat-user-avatar"><img
													src="images/users/chat/3.jpg"></span> <span
												class="chat-user-name">Jessica Simons</span><span
												class="chat-user-msg"
												title="Eminem - The Monster ft. Rihanna"><i
													class="icon-play"></i> Eminem - The Monster ft. Rihanna</span></a></li>
										<li><a href="javascript:;" class="away"><span
												class="chat-user-avatar"><img
													src="images/users/chat/4.jpg"></span> <span
												class="chat-user-name">Jack Stallman</span><span
												class="chat-user-msg">Away since 13:32</span></a></li>
										<li><a href="javascript:;" class="offline"><span
												class="chat-user-avatar"><img
													src="images/users/chat/5.jpg"></span> <span
												class="chat-user-name">Neil Armstrong</span><span
												class="chat-user-msg"
												title="I am flying to the moon and back">I am flying
													to the moon and back</span></a></li>
										<li><a href="javascript:;" class="offline"><span
												class="chat-user-avatar"><img
													src="images/users/chat/6.jpg"></span> <span
												class="chat-user-name">Hollywood Studios</span><span
												class="chat-user-msg">Yes he definitely is!</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<!-- Right Sidebar End -->
</div>